li{
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 15px;
    text-align: center;
    border:none;
    box-shadow: 0 0 5px 2px rgb(95, 2, 2);
    background-color: rgb(92, 208, 253);
    border-radius: 7px;
    cursor: pointer;
    transition: .2s ease-in;
}
li:hover:not(.list-names li){
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgb(4, 95, 4);
}
ul{
    width: max-content;
    margin: 20px auto;
    padding: 0;

    list-style: none;
}
.list-names{
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list-names li{
    background-color: rgb(80, 243, 221);
}
h1{
    text-align: center;
    color: red;
    text-transform: uppercase;
}