body{
    background-image: linear-gradient(to right top, #d3dfe3, #cae3e7, #c2e6e7, #bbeae4, #b8eddd);;
}
.container{
    width: 50%;
    margin: 30px auto;
    display: flex;
}

#letters{
    margin-right: 100px;
    padding: 10px;
    font-size: 25px;
    border: none;
    background-color: rgb(61, 206, 186);
    cursor: pointer;
}

option{
    font-size: 20px;
    cursor: pointer;
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

li{
    padding: 5px 10px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 1px 0 rgb(87, 87, 87);
}

h1{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: red;
}